* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(45, 45, 45, 0.75)), url(titanic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
    background-blend-mode: darken;
  }

.banner {
    width: 15%;
    height: 100vh;
    padding: 35px 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .navbar {
    width: 15%;
    height: 100vh;
    padding: 35px 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -150px;
    background-color: #000a1a;
    opacity: 0.8;
  }
  
  .logo {
    width: 155px;
    cursor: pointer;
    color: #fff;
  }
  
  .navbar ul {
    margin-top: 40px;
    list-style: none;
  }
  
  .navbar ul li {
    margin-bottom: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 450;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  h1, h2 {
    text-align: center;
    color: white;
    cursor: default;
  }

  h1{
    margin-top: 50px;
  }
  
  p {
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: default;
  }
  
  svg {
    display: block;
    margin: 0 auto;
    cursor: default;
  }
  
  rect {
    transition: transform 1.2s ease;
    transform-origin: center;
  }

  rect:hover {
    transform: scale(1.1) translate(5%, 2%);
  }

  .rect-group {
    transition: transform 2s ease;
  }

  .rect-group:hover rect {
    transform: scale(1.05);
  }
  
  .percentage-text {
    opacity: 0;
    font-size: 20px;
    fill: white;
    transition: opacity 2s ease;
    cursor: default;
  }
  
  .rect-group:hover .percentage-text {
    opacity: 1;
  }  
  
  .image-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .image-container img {
    width: 550px;
    display: inline-block;
    border-radius: 30px;
  }
  